@model Webinar.Models.PenggunaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PenggunaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaDepan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaDepan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBelakang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaBelakang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PenggunaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
