@model Webinar.Models.PendaftaranModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PendaftaranModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenggunaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenggunaModel.PenggunaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebinarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebinarModel.JudulWebinar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PendaftaranModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
