@model IEnumerable<Webinar.Models.PendaftaranModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenggunaModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebinarModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenggunaModel.PenggunaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebinarModel.JudulWebinar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PendaftaranModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PendaftaranModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PendaftaranModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
