@model IEnumerable<Webinar.Models.WebinarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JudulWebinar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deskripsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GambarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PembicaraModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JudulWebinar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GambarUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PembicaraModel.NamaBelakang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WebinarModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WebinarModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WebinarModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
