@model IEnumerable<Webinar.Models.WebinarModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center p-3">
    <h1>Temukan Webinar yang ingin diikuti</h1>
</div>

@foreach (var item in Model)
{
    <div class="container-fluid">
        <ul class="list-group-horizontal-sm rounded">
            <li class="list-group-item active">@Html.DisplayNameFor(model => model.JudulWebinar) : @Html.DisplayFor(modelItem => item.JudulWebinar)</li>
            <li class="list-group-item "><img src="@item.GambarUrl" class="img-fluid align-content-center img-thumbnail rounded " style="    max-height: 500px; overflow: auto; max-height: 500px; max-width : 500px ;" /></li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Tanggal) : @Html.DisplayFor(modelItem => item.Tanggal)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Platform) : @Html.DisplayFor(modelItem => item.Platform)</li>
            <li class="list-group-item">Pembicara : @Html.DisplayFor(modelItem => item.PembicaraModel.NamaPanjang)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Deskripsi) : @Html.DisplayFor(modelItem => item.Deskripsi)</li>
            <li class="list-group-item">
                <a class="btn btn-primary active" asp-area="" asp-controller="Pengguna" asp-action="Create">Daftar</a>
            </li>
        </ul>
    </div>

}




